.clock {
  position:absolute;
  overflow: hidden;
      
  @media only screen and (max-width: 50rem) {
    transform: rotate(-90deg);
  };

  .rotating-div {
    display: flex;
    background-color: black;
    border-radius: .8rem;
    padding: 1rem;

    & > {
      :not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}