html {
  font-size: 80%;

  @media only screen and (max-width: 700px) {
    font-size: 70%;
  };
        
  @media only screen and (max-width: 600px) {
    font-size: 60%;
  };

  @media only screen and (max-width: 550px) {
    font-size: 55%;
  };

  @media only screen and (max-width: 500px) {
    font-size: 50%;
  };

  @media only screen and (max-width: 450px) {
    font-size: 45%;
  };

  @media only screen and (max-width: 400px) {
    font-size: 40%;
  };

  @media only screen and (max-width: 350px) {
    font-size: 35%;
  };

  @media only screen and (max-width: 300px) {
    font-size: 30%;
  };
}